.profile-page{
    width: 100%;
    height: 100%;
}
.comming-soon{
    display: flex;
    align-items: center;
    align-content: center;
    color: rgba(54, 37, 238, 0.95);
    font-weight: bolder;
 
    height: 80vh;
    padding-left: 40rem;
}
